#sidebar {
    position: absolute;
    left: 620px;
    top: 0px;
    width: 275px;
    margin-top: 8;
}
#sidebar h3 {
    text-align: center;
}
#gTitle {
    text-align: center;
}
h2 {
    text-align: center;
}
#environment {
    width: 100%;
    height: 100px;
}
#buttons {
    display: none;
    margin-left: 30%;
}
#submit {
    display: inline-block;
    margin-left: 40%;
}
#infoStart {
    color: green;
}
#infoEnd {
    color: red;
}
#algorithm {
    width: 80%;
    display: block;
    margin: 0 auto;
}
#go {
    font-size: 20;
    display: block;
    margin: 0 auto;
}
#slider {
    display: block;
    margin: 0 auto;
}
#heuristic {
    display: block;
    margin: 0 auto;
}
#results {
    display: none;
}
#results h4 {
    text-align: center;
}
#results p {
    text-align: center;
}
#sidebar h3 {
    margin-bottom: 0;
}
#gameify {
    margin-left: 37%;
}
img {
    display: none;
}