body {
    background-color: black;
}
@font-face { 
    font-family: "8bit"; 
    src: url('8bit.ttf');
}
#title {
    font-family: "8bit";
    color: orange;
    position: absolute;
    width:600px;
    text-align: center;
    top: 30%;
}
#start {
    position: absolute;
    left: 250px;
    top: 60%;
}

#game {    
    width: 600px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
}
#canvas {
    visibility: hidden;
    cursor: none;
}